/******************** POLICE ********************/

@font-face {
    font-family: "Public Sans";
    src: url("../police/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

/******************** GENERAL ********************/

body {

    font-family: "Public Sans", sans-serif;
}

.btn-request {

    height: 44px;
    width: 163px;

    border-radius: 50px;

    background: rgb(49, 211, 92);
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 49%, rgba(43, 218, 183, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-request > a {

    color: white;

    font-weight: 700;

    text-decoration: none;

    padding: 13px 25px;
    border-radius: 50px;
}


/******************** HEADER ********************/

/*
HEADER DESKTOP */

#header-responsive {

    display: none;
}

#header-desktop {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    position: relative;

    z-index: 3;

    padding: 0 163px;

    height: 80px;

    font-size: 14px;
}

#header-desktop > .menu-desktop > ul {

    width: 330px;

    display: flex;
    justify-content: space-between;
}

#header-desktop > .menu-desktop > ul > li > a {

    text-decoration: none;

    color: hsl(233, 8%, 62%);
}

/*
RESPONSIVE */

@media all AND (max-width: 1024px) {

    #header-desktop {

        display: none;
    }

    #header-responsive {

        display: flex;
        justify-content: space-between;

        height: 64px;
    }

    #header-responsive > .logo-responsive {

        margin-left: 24px;

        display: flex;
        align-items: center;
    }

    #header-responsive > #menu-responsive {

        width: 25px;

        margin-right: 24px;

        background: url("../images/icon-hamburger.svg") no-repeat center;
        background-size: contain;
    }
}

/******************** MAIN ********************/

/*
NEXT GENERATION */

main > .container-next-generation {

    display: flex;
    align-items: center;

    height: 656px;
}

main > .container-next-generation > .next-generation {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 163px;

    width: 40%;
    height: 305px;
}

main > .container-next-generation > .next-generation > h2 {

    font-size: 45px;

    width: 400px;
}

main > .container-next-generation > .next-generation > .description-next-generation {

    font-size: 18px;
    font-weight: 300;

    color: hsl(233, 8%, 62%);

    line-height: 30px;

    width: 431px;
}

main > .container-next-generation > .container-mobile-application {

    position: relative;

    width: 60%;
    height: 100%;

    background: url("../images/bg-intro-desktop.svg") -65px -261px;

    overflow-x: clip;
}

#mobile-application-background {

    height: 930px;
    width: 100%;

    background: url("../images/image-mockups.png");

    z-index: 2;

    position: absolute;
    top: -120px;
    right: -125px;

}

/*
WHY CHOOSE EASYBANK */

main > .container-why-choose-easybank {

    padding-top: 115px;

    background-color: hsl(220, 16%, 96%);

    text-align: center;

    padding-bottom: 105px;
}

main > .container-why-choose-easybank > .title-why-choose-easybank {

    text-align: start;

    margin-left: 165px;
    margin-bottom: 30px;

    font-size: 35px;
    font-weight: 300;

    min-width: 175px;
}

main > .container-why-choose-easybank > .description-why-choose-easybank {

    text-align: start;

    margin-left: 165px;
    margin-bottom: 65px;

    width: 620px;

    line-height: 26px;

    color: hsl(233, 8%, 62%);
}

main > .container-why-choose-easybank > .container-description {

    display: flex;
    justify-content: space-between;

    padding: 0 165px;

    text-align: start;
}

main > .container-why-choose-easybank > .container-description > .container-description-why-choose-easybank > .container-icon-why-choose-easybank {

    display: flex;
    justify-content: start;

    margin-bottom: 45px;
}

main > .container-why-choose-easybank > .container-description > .container-description-why-choose-easybank > .h2-why-choose-easybank {

    font-size: 22px;

    margin-bottom: 30px;
}

main > .container-why-choose-easybank > .container-description > .container-description-why-choose-easybank > .text-why-choose-easybank {

    font-size: 15px;

    color: hsl(233, 8%, 62%);

    line-height: 26px;

    width: 247px;
}

/*
SECTION LATEST ARTICLES */
main > .latest-article {

    padding: 95px 165px 80px;

    background-color: hsl(0, 0%, 98%);
}

main > .latest-article > .title-latest-article {

    font-size: 30px;

    margin-bottom: 55px;
}

main > .latest-article > .container-articles > .articles {

    display: flex;
    justify-content: space-between;
}

main > .latest-article > .container-articles > .articles > .article {

    background-color: white;

    border-radius: 5px;

    overflow: hidden;
}

main > .latest-article > .container-articles > .articles > .article > .image-article > img {

    height: 200px;
    width: 255px;
}

main > .latest-article > .container-articles > .articles > .article > .article-author {

    margin: 30px auto 15px;

    color: hsl(233, 8%, 62%);

    width: 200px;

    font-size: 11px;

}

main > .latest-article > .container-articles > .articles > .article > .article-title {

    font-size: 15px;

    width: 200px;

    line-height: 20px;

    margin: 0 auto 9px;

}

main > .latest-article > .container-articles > .articles > .article > .article-text {

    width: 200px;

    font-size: 12px;

    line-height: 20px;

    color: hsl(233, 8%, 62%);

    margin: 0 auto;

    padding-bottom: 24px;
}

/*
FOOTER */

footer {

    background-color: hsl(233, 26%, 24%);
}

footer > .container-footer {

    display: flex;
    justify-content: space-between;

    padding: 0 165px 45px;
}

footer > .container-footer > .footer-container-left {

    display: flex;
}

footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .logo-footer {

    margin-top: 45px;
    margin-bottom: 50px;
}

footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .container-social-media-footer > .social-media-footer-logo {

    display: flex;
    justify-content: space-between;

    width: 155px;
}

footer > .container-footer > .footer-container-left > .menu-footer {

    width: 415px;

    display: flex;
    justify-content: flex-end;
}

footer > .container-footer > .footer-container-left > .menu-footer > ul {

    display: flex;
    justify-content: space-between;

    margin-top: 50px;

    width: 285px;
}

footer > .container-footer > .footer-container-left > .menu-footer > ul > div {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer > .container-footer > .footer-container-left > .menu-footer > ul > div > li > a {

    text-decoration: none;

    color: white;

    font-size: 14px;
}

footer > .container-footer > .footer-container-right {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer > .container-footer > .footer-container-right > .btn-request {

    margin-top: 50px;
    margin-bottom: 30px;
}

footer > .container-footer > .footer-container-right > .copyright {

    color: hsl(233, 8%, 62%);

    font-size: 14px;
}


/*
RESPONSIVE MAIN
SECTION NEXT GENERATION*/

@media all AND (max-width: 1024px) {

    main > .container-next-generation {

        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    main > .container-next-generation > .container-mobile-application {

        margin-bottom: 40px;

        height: 310px;
        width: 100%;

        background-size: cover !important;
        background: url("../images/bg-intro-mobile.svg") no-repeat right -80px;
    }

    main > .container-next-generation > .next-generation {

        padding-left: 0;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        height: auto;
        width: auto;
        margin-bottom: 90px;
    }

    main > .container-next-generation > .next-generation > h2 {

        margin-bottom: 25px;

        font-size: 35px;
        font-weight: 300;

        width: 290px;

        line-height: 45px;
    }

    main > .container-next-generation > .next-generation > .description-next-generation {

        margin-bottom: 35px;

        font-size: 14px;

        width: 90%;
        min-width: 305px;
    }

    #mobile-application-background {

        background-size: 360px;

        height: 100%;

        background-position: center -129px;
        background-repeat: no-repeat;

        top: 0;
        left: 0;
    }

    /*
RESPONSIVE
WHY CHOOSE EASYBANK*/
    main > .container-why-choose-easybank {

        padding: 70px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > .container-why-choose-easybank > .title-why-choose-easybank {

        text-align: center;

        margin-left: 0;
    }

    main > .container-why-choose-easybank > .description-why-choose-easybank {

        text-align: center;

        margin-left: 0;
        margin-bottom: 60px;

        line-height: 20px;

        width: 300px;

        font-size: 14px;
    }

    main > .container-why-choose-easybank > .container-description {

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
    }

    main > .container-why-choose-easybank > .container-description > .container-description-why-choose-easybank {

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        margin-bottom: 30px;
    }

    main > .container-why-choose-easybank > .container-description > .container-description-why-choose-easybank > .text-why-choose-easybank {

        width: 320px;

        font-size: 15px;
    }

    /* RESPONSIVE
SECTION LATEST ARTICLES */
    main > .latest-article {

        padding: 95px 0 38px;
    }

    main > .latest-article > .title-latest-article {

        font-size: 25px;

        text-align: center;

        margin-bottom: 39px;
    }

    main > .latest-article > .container-articles > .articles {

        flex-direction: column;
    }

    main > .latest-article > .container-articles > .articles > .article {

        text-align: start;

        width: 327px;

        margin: 0 auto 22px;

        border-radius: 5px;
    }

    main > .latest-article > .container-articles > .articles > .article:last-child {

        margin-bottom: 90px;
    }

    main > .latest-article > .container-articles > .articles > .article > .image-article > img {

        height: 200px;
        width: 327px;

        margin-bottom: 30px;
    }

    main > .latest-article > .container-articles > .articles > .article > .article-author {

        width: 265px;

        font-size: 11px;

        color: hsl(233, 8%, 62%);

        margin: 0 auto 15px;
    }

    main > .latest-article > .container-articles > .articles > .article > .article-title {

        width: 265px;

        font-size: 15px;

        line-height: 20px;

        margin: 0 auto 15px;
    }

    main > .latest-article > .container-articles > .articles > .article > .article-text {

        font-size: 12px;

        width: 265px;

        line-height: 17px;

        padding-bottom: 38px;

        margin: 0 auto 24px;

        color: hsl(233, 8%, 62%);
    }

    /*
     RESPONSIVE FOOTER */
    footer > .container-footer {

        flex-direction: column;
        align-items: center;

        padding: 0;
    }

    footer > .container-footer > .footer-container-left {

        flex-direction: column;
    }

    footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .logo-footer {

        text-align: center;

        margin-top: 40px;
        margin-bottom: 30px;
    }

    footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .container-social-media-footer > .social-media-footer-logo {

        width: 185px;
    }

    footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .container-social-media-footer > .social-media-footer-logo > a > img {

        height: 28px;
    }

    footer > .container-footer > .footer-container-left > .container-logo-and-social-icon > .container-social-media-footer {

        display: flex;
        justify-content: center;
    }

    footer > .container-footer > .footer-container-left > .menu-footer {

        justify-content: center;

        width: 100%;
    }

    footer > .container-footer > .footer-container-left > .menu-footer > ul {

        margin-top: 35px;

        flex-direction: column;
    }

    footer > .container-footer > .footer-container-left > .menu-footer > ul > div {

        text-align: center;

        font-size: 14px;
    }

    footer > .container-footer > .footer-container-left > .menu-footer > ul > div > li{

        margin-bottom: 20px;
    }

    footer > .container-footer > .footer-container-left > .menu-footer > ul > div > li:last-child{

        margin-bottom: 35px;
    }

    footer > .container-footer > .footer-container-right {

        align-items: center;
    }

    footer > .container-footer > .footer-container-right > .btn-request {

        margin-top: 0;
    }

    footer > .container-footer > .footer-container-right > .copyright {

        margin-bottom: 47px;
    }

    }

/* END RESPONSIVE */